* {
  font-family: "Josefin Sans", sans-serif;
}

body {
  min-height: 100vh;
  position: relative;
}

footer {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0rem;
}

nav {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 25px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin: 10px;
}

nav li a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
}

nav p {
  float: left;
  color: #328df4;
  font-weight: 700;
}

main {
  background-color: rgba(253, 185, 169, 0.13);
  text-align: center;
  padding: 5px 0 5px 0;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 28px;
}

header.index {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  text-align: center;
}

header.index img {
  width: 950px;
}

header.index h1 {
  font-size: 64px;
  font-weight: 700;
}

header.index p {
  text-align: center;
  width: 22em;
  font-family: "Roboto", sans-serif;
}

main.index {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 650px;
}

main.index img {
  width: 370px;
  margin: 15px;
}

main.index > div {
  width: 750px;
  align-self: center;
}

main.index p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.tour_overview {
  display: flex;
  justify-content: space-around;
  text-align: left;
  font-size: 24px;
  margin-left: 150px;
  margin-right: 150px;
}

.tour_overview a {
  font-size: 14px;
  display: block;
  margin-top: 10px;
  color: inherit;
  text-decoration: inherit;
}

.tour_overview figure {
  width: 420px;
}

main.register {
  display: flex;
  flex-direction: column;
}

.form {
  background-color: #ffffff;
  width: 522px;
  height: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 90px;
  text-align: left;
  padding: 70px;
}

label {
  display: inline-block;
  width: 100%;
}

label.radio {
  display: inline;
}

input[type="text"],
textarea {
  float: left;
  width: 100%;
  display: inline-block;
  font-size: 16px;
  color: #6f7482;
  border: none;
  padding: 20px 0px 5px;
  border-bottom: 4px solid #e4e1e6;
  margin: 0px 0px 50px 0px;
}

input[type="date"],
input[list] {
  float: left;
  width: 40%;
  display: inline-block;
  font-size: 16px;
  color: #6f7482;
  border: none;
  padding: 20px 0px 5px;
  border-bottom: 4px solid #e4e1e6;
  margin: 0px 0px 50px 0px;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[list]:focus,
textarea:focus {
  color: #6f7482;
  outline: none;
  border-bottom: 4px solid #f4623f;
  padding: 20px 0px 5px;
}

input[type="radio"] {
  border: 4px solid #ffffff;
  box-shadow: 0 0 0 2.67px #e4e1e6;
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  transition: all ease-in 0.2s;
}

input:checked {
  background-color: #f4623f;
  box-shadow: 0 0 0 2.67px #f4623f;
}

button,
input[type="submit"] {
  background-color: #000000;
  border: 2px solid #000000;
  border-radius: 24px;
  color: #ffffff;
  font-family: "Josefin Sans";
  font-size: 1.4rem;
  padding: 9px 55px;
}

.submit {
  text-align: center;
  margin: 30px 50px;
}

span {
  color: #f4623f;
  margin: 4px;
}

main.tours {
  display: grid;
  height: 900px;
}

.broke {
  background-color: #ffffff;
}
